<!-- <h1>Welcome, friend!</h1>
<p>Here's some awesomeness...</p>

<%= @homeland %>

<%= image_tag "Japan.jpg" %>

<ul>
<% @countries.each do |country| %>
<li> <%= country %>
</li>
<% end %>
</ul> -->

<div id="map-canvas">
</div>